.container {
  align-items: center;
  min-height: "100vh";
}

.authentication__header {
  color: white;
  text-align: center;
}

.card {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}
